@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
    padding: 0;
    margin: 0;
}
.profile_card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 16px 0px rgb(0, 0, 0, 0.2);
}
.profile_card .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    background-color: rgb(13, 53, 98);
    margin-bottom: 2rem;
}
.profile_card .heading h2 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    font-family: "Roboto";
}
.profile_card .heading .btn {
    background-color: rgb(84, 145, 215);
    color: #fff;
    font-size: 14px;
    padding: 5px 20px;
    font-family: Roboto;
}
.profile_card img {
    border-radius: 80px;
    height: auto;
}
.profile_card .profile_details {
    padding: 10px;
}

@media screen and (max-width: 991px) {
    .profile_card img {
        border-radius: 80px;
        width: 100px;
        height: auto;
    }
}
